@model IEnumerable<Blog.WEB.UI.Models.Article>

@foreach (Blog.WEB.UI.Models.Article item in Model)
{
    <div class="input-group">
        @Html.ActionLink(item.Title,"Index","Article",new {id = item.ArticleId}, new { @class = "list-group-item"})
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button art-mediaFileId="@item.ArticleId" type="button" class="btn btn-default update-btn">Update</button>
            </div>
            <div class="btn-group" role="group">
                <button art-mediaFileId="@item.ArticleId" type="button" class="btn btn-default delete-btn">Delete</button>
            </div>
        </div>
    </div>
}
