html, body {
    height: 100%;
}

html { font-size: 62.5%; } 

body {
    background-color: #DAE3E7;
    font-size: 1.4rem;
}

button {
    outline: none;
    border: 0;
}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.content {
    padding: 0 5%;
}

.navbar {
    border-radius:0;
    background-color:white;
    font-weight:bold;
}
